@import '../../../scss/index.scss';

.footer {
  background-color: $backgroundDarkWeb;
  border-top: 3px solid $primaryColor;

  &__copyright {
    margin-top: 30px;

    .ant-col {
      color: $primaryColorDark;

      &:last-of-type {
        text-align: right;
      }
    }
  }
}
