$defaultFontSize: 16px;

$primaryColor: #0098d3;
$primaryColorHover: #0280b3;

$menuColor: #252527;

$fontLight: #ffff;
$fontGreyLight: #e8e8e8;
$fontGrey: #808080;
$fontGreyDark: #000;
$fontDarkLight: #252527;
$fontDark: #000;

$borderLight: #ffff;
$borderGreyLight: #e8e8e8;
$borderGrey: #25776c;
$borderGreyDark: #595959;
$borderDarkLight: #252527;
$borderDark: #000;

$backgroundLight: #ffff;
$backgroundGreyLight: #e8e8e8;
$backgroundGrey: #25776c;
$backgroundGreyDark: #595959;
$backgroundDarkLight: #252527;
$backgroundDark: #000;
$backgroundError: #ff00001f;
$backgroundSuccess: #84b84c1f;

$success: #84b84c;
$error: #f00;

// Recive down size
$mediaBreakPointDownXs: 413.98px;
$mediaBreakPointDownSm: 573.98px;
$mediaBreakPointDownMd: 767.98px;
$mediaBreakPointDownLg: 991.98px;
$mediaBreakPointDownXl: 1119.98px;

// Responsive up size
$mediaBreakPointUpXs: 320x;
$mediaBreakPointUpSm: 576px;
$mediaBreakPointUpMd: 768px;
$mediaBreakPointUpLg: 992px;
$mediaBreakPointUpXl: 1200px;
